@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

$font-main: League Spartan, sans-serif;
$color-header: hsl(300, 43%, 22%);
$color-main-text: hsl(303, 10%, 53%);
$color-bcg-stars: hsl(300, 24%, 96%);
$color-white: hsl(0, 0%, 100%);
$color-bcg-body: rgb(194, 192, 192);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-bcg-body;
}
html {
  font-size: 62.5%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  min-height: 100vh;
}
.container_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center; to wyśrodkowuje kontener-dziecko na kontenerze-rodzic!!!!
  justify-items: center;
  height: 1530px;
  width: 375px;
  background-color: $color-white;
  background-image: url(images/bg-pattern-top-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  padding: 70px 25px 100px 25px;
}

.main_text > h1 {
  color: $color-header;
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  padding-bottom: 25px;
}
.main_text > p {
  color: $color-main-text;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  padding-bottom: 45px;
}

.container_review,
.container_guru,
.container_tech {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  background-color: $color-bcg-stars;
  width: 320px;
  height: 75px;
  margin: 0 auto;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.container_stars {
  display: flex;
  flex-direction: row;
  width: 120px;
  height: 20px;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 30px;
}
.container_review,
.container_guru,
.container_tech > p {
  color: $color-header;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 10px;
}
.container_irene,
.container_anne,
.container_colton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 250px;
  background-color: $color-header;
  border-radius: 1rem;
  margin: 1.5rem;
  color: $color-white;
}

.image > img {
  border-radius: 50%;
  width: 40px;
}
